@import "~react-image-gallery/styles/scss/image-gallery.scss";

.cars-wrapper{
    height: 100vh;
    overflow-y: hidden;
    margin: 0 auto;
}

@media (max-width: 600px){
    .cars-wrapper{
        height: fit-content;
        overflow-y: hidden;
        margin: 0 auto;
    }
}