@import "../../global.scss";

.topBar{
    width: 100%;
    height: 70px;
    background-color: whitesmoke;
    position: fixed;
    top: 0;
    z-index: 10;
    transition: all 1.5s ease;
    overflow: hidden;   

    .wrapper{
        padding: 10px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left{
            display: flex;
            align-items: center;
            .logo{
                font-size: 35px;
                font-weight: 700;
                text-decoration: none;
                color: inherit;
                margin-right: 25px;
            }
            .logo-test{
                max-width: 70px;
                max-height: 70px;
            }
            .itemContainer{
                display: flex;
                align-items: center;
                margin-left: 25px;
                .icon{
                    font-size: 20px;
                    margin-right: 3px;
                }
                span{
                    font-size: 15px;
                    font-weight: 500;
                }
            }

        }
        .right{
            .hamburger{
                width: 32px;
                height: 25px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;

                span{
                    width: 100%;
                    height: 3px;
                    background-color: var(--color-primary);
                    transform-origin: left;
                    transition: all 2s ease;
                }

            }
        }
        
    }
    &.active{
        background-color: var(--color-primary);
        color:whitesmoke;
        a{
            color: whitesmoke;
        }
        .hamburger{

            span{
                &:first-child{
                    background-color: whitesmoke;
                    transform: rotate(45deg);
                }
                &:nth-child(2){
                    opacity: 0;
                }
                &:last-child {
                    background-color: whitesmoke;
                    transform: rotate(-45deg);

                }
            }
        }
    }
}
@media (max-width: 900px){
    .topBar{
        width: 100%;
        height: 70px;
        .wrapper{
            .left{
                display: flex;
                align-items: center;
                .logo{
                    font-size: 25px;
                    font-weight: 700;
                    text-decoration: none;
                    color: inherit;
                    margin-right: 20px;
                }
                .itemContainer{
                    display: flex;
                    align-items: center;
                    margin-left: 20px;
                    .icon{
                        font-size: 18px;
                        margin-right: 3px;
                    }
                    span{
                        font-size: 15px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}