@import "../../global.scss";

.footer{
    width: 100%;
    height: 50vh;
    background: #15023a; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #462686, rgb(167, 54, 54)); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #15023a, #b7b3be); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-position: center;
    color: whitesmoke;
    transition: all 1.5s ease;
    overflow: hidden;   

    .footer-wrapper{
        padding: 10px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
            .footer-title{
                font-size: 35px;
                font-weight: 700;
                text-decoration: none;
                color: inherit;
                margin-right: 30px;
            }
            .footer-items{
                display: flex;
                align-items: center;
                margin-right: 25px;
                font-size: 15px;
                font-weight: 500;
            }
        } 
    
}

@media (max-width: 900px){
        .footer-wrapper{
            .footer-title{
                font-size: 15px;
                font-weight: 300;
                
            }
                .footer-items{
                    font-size: 12px;
                    font-weight: 200;
                }
            
        }
    }
