
.banner-inner {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
  height: 100vh;
  justify-content: center;
}

.banner {
  background: #15023a; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #15023a, black); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #15023a, black); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-position: center;
}

.banner h1 {
  margin: 1em 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  margin: 2em 0;
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.book-btn{
  width: 180px;
  text-align: center;
  text-decoration: none;
  color: #fff !important;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #5029bc;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover{
    background: #9287a8;
}
}